@model IEnumerable<CANSnatcher.AspNetRole>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @if (ViewBag.displayMenu == "Yes")
    {
        <h1>Welcome Admin. Now you can create user Role.</h1>
        <h3>
            <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
        </h3>
    }
    else
    {
        <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
    }  
@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}*@

</table>
